@CHARSET "UTF-8";

body {
	background-color: #33CCCC;
}

h1 {
	color: black;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
	background-color: Gainsboro;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	padding: 3px 7px 2px 7px;
}

tr {
	
}

#buttonintable table {
	border: 4px red;
	background-color: red;
}